body{
	background-color: floralwhite;
			background-image: url(https://img.freepik.com/free-vector/gradient-christmas-technology-background_23-2149758674.jpg);
			background-size: cover;
			/font-family: sans-serif;*/
}